
[data-theme="light"] {
	--bg-color: #ececec;
	--text-color: #212121;
}


[data-theme="dark"] {
	--bg-color: #212121;
	--text-color: #ececec;
}

html {
	background-color: var(--bg-color);
	color: var(--text-color);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--text-color);

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:var(--text-color);

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--text-color);

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--text-color);

}



p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);

}

li{
    font-family: Arial, Helvetica, sans-serif;
    color:var(--text-color);

}

img{
    width: 300px;
    max-width:100%;
    justify-content: center;
    align-items: center;
    
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 6000px;
    width: 100%;
}

.container{
    padding: 40px 20px;
    max-width: 900px;
    margin:auto;
    margin-bottom:10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0,08);


}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 32px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}


.zoomable {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #overlay img {
    width: auto;
    height: auto;
    transform: scale(2);
    transition: transform 0.3s ease;
    max-width: 45%;
    max-height: 45%;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
  }